body {
    background-color: #f4f4f4;
}

nav {
    height: 120px;
    background-color: #f4f4f4;
}

#nav-img {
    padding-left: 75px;
} 

nav div {
    text-align: center;
    margin-left: 200px;
}

nav li {
    padding: 12px;
}

#login-btn {
    width: 120px;
    height: 36px;
    color: #fff;
    background-color: #EF6969;
    border-radius: 25px;
    border:none;
    margin-right: 75px;
}